body {
  background-color: #e0dedc;
  margin: 0;
  max-width: 100%;
  font-family: "Figtree", sans-serif;
  color: hsl(40, 13%, 32%);
  box-sizing: border-box;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

header {
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 50px;
  background-color: black;
}

.header-options {
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  padding-left: 40px;
}

.header-options a:hover {
  color: orange;
}

.introduction {
  display: flex;
  flex-direction: column;
}
.top-row {
  margin-top: 0;
  padding: 75px;
}
.title-about {
  margin-top: 0;
}
hr {
  border-top: 1px dotted #5d5648;
  margin-top: 50px;
  margin-bottom: 50px;
}
#details {
  padding: 0px 75px 75px 75px;
}
#details h1 {
  margin-bottom: 50px;
}
.work-exp {
  display: flex;
  flex-direction: column;
}
.add-exp {
  margin: 50px;
  padding: 15px 50px;
  border-radius: 7px;
  color: white;
  font-size: larger;
  font-weight: 700;
  box-shadow: 3px 3px 5px hsl(40, 10%, 76%);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(100, 103, 255, 0.4824054621848739) 0%,
    rgba(83, 150, 252, 0.77) 100%
  );
  border: none;
  width: auto;
  align-self: center;
}
.add-exp:active {
  box-shadow: -1px -1px 5px hsl(40, 10%, 76%);
  background: linear-gradient(
    -90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(100, 103, 255, 0.4824054621848739) 0%,
    rgba(83, 150, 252, 0.77) 100%
  );
}
.exp-item {
  margin: 50px;
}
.exp-item li {
  margin-bottom: 10px;
}
#heading {
  text-align: center;
  margin-top: -15px;
  font-weight: 300;
}

#picture {
  height: auto;
  background-color: #c0bdb8;

  text-align: center;
  padding: 75px 30px;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 10px 70px;
  background-color: black;
}
footer a:hover {
  color: orange;
}

a {
  color: white;
}

.inline-div {
  display: inline-block;
}

.signup-modal {
  display: block;

  color: hsl(40, 13%, 32%);
}

.modal-content {
  width: 450px;
  height: auto;
  background-color: white;
  padding-bottom: 50px;
  margin: 20px auto;
  box-shadow: 10px 10px 10px hsl(40, 10%, 76%);
}

.modal-content h2 {
  text-align: center;
}

.form-container {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 0px 30px;
}

.input-field {
  display: block;
  width: 90%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 1px solid grey;
  padding: 5px;
  font-size: medium;
}

.alert-msg {
  display: none;
  font-size: medium;
  color: red;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: hsl(40, 13%, 32%);
  border-color: transparent;
  box-shadow: 5px 5px 5px rgb(205, 205, 207);
  font-weight: 700;
  font-size: large;
  color: white;
  margin-top: 50px;
}
#submit:hover {
  background: #918d86;
}

#submit:active {
  background: #918d86;
}

.signup-hr {
  height: 5px;
  margin: 0px;
  background: hsl(40, 13%, 32%);
}

#success-msg {
  display: none;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: green;
  font-size: xx-large;
  font-weight: 700;
}
.work-exp-form {
  width: 65%;
  display: none;
  flex-direction: column;
  align-items: start;
  border-radius: 5px;
  background-color: #f4f3f1;
  box-shadow: 5px 5px 5px lightgrey;
  padding: 10px;
  align-self: center;
  margin-top: 50px;
}
#company-name,
#description {
  display: block;
  width: 85%;
  height: 30px;
  background-color: white;
  border: none;
  font-size: small;
  margin: 10px auto;
  padding: 0px 10px;
}
.work-exp-form h3 {
  margin: 30px auto;
}
.date-section {
  width: 90%;
  margin: 10px auto;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  gap: 10px;
}

.date-section-labels,
.date-section-values {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.date-section-values > *{
  width: 100%;
}
.checkbox-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.label-employer{
  font-size: smaller;
}

.date-section-labels > label {
  width: 50%;
  font-size: small;
  font-weight: 600;
}

textarea {
  min-height: 100px;
  padding: 10px;
}
.save-btn {
  margin: 35px auto;
  padding: 10px 50px;
  border: none;
  background-color: orange;
  color: white;
  font-size: large;
  border-radius: 10px;
  box-shadow: 3px 3px 10px lightgrey;
}
.save-btn:hover {
  background-color: rgb(222, 146, 5);
}
.close-btn {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.exp-list {
  max-height: 400px;
  overflow-y: auto;
  background-color: #f4f3f1;
}
.exp-content {
  margin-left: 20px;
}

.alert-text {
  color: red;
  display: none;

  margin: 0px 25px;
}
