body {
  background-color: #e0dedc;
  margin: 0;
  max-width: 100%;
  font-family: "Figtree", sans-serif;
  color: hsl(40, 13%, 32%);
  box-sizing: border-box;
}

main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

header {
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 70px;
  background-color: black;
}

.header-options {
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.header-options a:hover {
  color: orange;
}

.introduction {
  display: flex;
  flex-direction: column;
}
.top-row {
  margin-top: 0;
  padding: 75px;
}
.title-about {
  margin-top: 0;
}
hr {
  border-top: 1px dotted #5d5648;
  margin-top: 50px;
  margin-bottom: 50px;
}
#details {
  padding: 75px;
}
#details h1 {
  margin-bottom: 50px;
}
.exp-item {
  margin: 50px;
}
.exp-item li {
  margin-bottom: 10px;
}
#heading {
  text-align: center;
  margin-top: -15px;
  font-weight: 300;
}

#picture {
  height: auto;
  background-color: #c0bdb8;

  text-align: center;
  padding: 75px 30px;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 10px 70px;
  background-color: black;
}
footer a:hover {
  color: orange;
}

a {
  color: white;
}

.inline-div {
  display: inline-block;
}

.signup-modal {
  display: block;

  color: hsl(40, 13%, 32%);
}
.modal-content {
  width: 450px;
  height: auto;
  background-color: white;
  padding-bottom: 50px;
  margin: 20px auto;
  box-shadow: 10px 10px 10px hsl(40, 10%, 76%);
}
.modal-content h2 {
  text-align: center;
}
.inner-form {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  padding: 10px 30px 0px 30px;
}
.input-field {
  display: block;
  width: 90%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: 1px solid grey;
  padding: 5px;
  font-size: medium;
}
.inner-form p {
  display: none;
  font-size: medium;
  color: red;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#submit {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background: hsl(40, 13%, 32%);
  border-color: transparent;
  box-shadow: 5px 5px 5px rgb(205, 205, 207);
  font-weight: 700;
  font-size: large;
  color: white;
  margin-top: 50px;
}
#submit:hover {
  background: #918d86;
}

#submit:active {
  background: #918d86;
}

.signup-hr {
  height: 5px;
  margin: 0px;
  background: hsl(40, 13%, 32%);
}
#success-msg {
  display: none;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  color: green;
  font-size: xx-large;
  font-weight: 700;
}
